{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleSearch.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Find a Book !</title>
    
    <script type="text/javascript">
        $(document).on({
            ajaxStart: function () {
        $('.none').css('display', 'block');
            },
            ajaxStop: function () {
        $('.none').css('display', 'none');
            }
        });

        $(document).ready(function () {
        $('#myform').submit(function (e) {
            let searchItem = $('.searchbox').val();
            console.log(searchItem);
            let urlItem = '/data?q=' + searchItem;
            
            $.ajax({
                async: true,
                type: 'GET',
                url: urlItem,
                dataType: 'json',
                success: function(searchRes) {
                    console.log(searchRes)
                    $('.status-container').next().addClass('none');
                    $('.status-container').removeClass('none');
                    let bookShelf = searchRes.items;
                    console.log(bookShelf)
                    
                    $('tbody').empty();
                    
                    for (i = 0; i < 10; i++) {
                        let book = bookShelf[i].volumeInfo;
                        var num = $('<td>').text(i + 1);

                        if ('imageLinks' in book == false)
                        var img = $('<td>').text("not found");

                        else {
                            if ('smallThumbnail' in book.imageLinks == false)
                                var img = $('<td>').append($('<img>').attr({
                                    'src': book.imageLinks.thumbnail
                                }));
                            else
                                var img = $('<td>').append($('<img>').attr({
                                    'src': book.imageLinks.smallThumbnail
                                }));
                        }

                        if ('authors' in book == false) var author = $('<td>').text(book.title + '\nby ' + "-");
                        else var author = $('<td>').text(book.title + '\nby ' + book.authors);

                        if ('categories' in book == false) var category = $('<td>').text("-" + '\n ' + book.pageCount + ' pages');
                        else var category = $('<td>').text(book.categories + '\n' + book.pageCount + ' pages');

                        var tr = $('<tr>').append(num, img, author, category);

                        $('tbody').append(tr);
                    }
                },
                
                type: 'GET',
            });
            event.preventDefault();
        })
    });

    </script>

</head>
<body>
    <div class="flex-container">
        <div>
            <a href="{% url 'main:index' %}"><img src="{% static 'img/header.png' %}" style="position: fixed;height: 120px;"></a>
        </div>
    </div>

    <div class="header-searchboxx">
        <p>What are u looking for?</p>
    </div>

    <div class="searchboxx">  
        <form class="mb-2 input-group-append" id="myform">
            <input class="form-control searchbox" type="search" id="books" placeholder="Search a book..." aria-label="Search">
            <button type="submit" class="btn btn-primary btn-submit">Search</button>
        </form>
    </div>


    <div class="result align-l mx-5">
        <div id="res-header" class="flex-left mb-4">
            <div class="text-container" style="padding-top: 80px;">
                <h1 class="text-24 hasil" style="color: #3adf00;font-size: 20px;font-weight: bold;">➙ Search Result</h1>
            </div>
        </div>
        <div class="status-container none" >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width:10%;">No. </th>
                        <th scope="col" style="width:25%;">Cover</th>
                        <th scope="col" style="width:40%;">Title</th>
                        <th scope="col" style="width:20%;">Category</th>
                    </tr>
                </thead>
                <tbody>
                            
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>