{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Sign In</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item-left">
            {% block content %}
            <form method="post">
                <p style="font-size: 50px;font-weight: 700;">Welcome!</p>
                <p style="font-weight:200;font-size: 22px;">Sign in to your account</p>
                {% csrf_token %}
                {{ form | crispy }}
                
                <button class="button" type="submit">Sign in</button>
                <div class="kosong"></div>
                <hr>
                <p style="font-weight:200;font-size: 15px;text-align: center;">Don't have an account? <a style="font-weight:300;" href="{% url 'signup' %}">Sign up</a></p>
            </form>
            {% endblock %}
        </div>
        <div class="flex-item-right">
            
        </div>

    </div>
</body>
</html>