@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color: whitesmoke;
    background-color: black;
    background: rgb(112,0,255);
background: linear-gradient(315deg, rgba(112,0,255,1) 0%, rgba(0,0,0,1) 62%);
    
    padding: 10%;

    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flex-item-left {
    flex: 40%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;

    
}
.flex-item-right {
    flex: 60%;
    color: white;
    text-align: right;

}

.button {
    background-color: #3adf00; 
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    width: 100%;
}

.button:hover {
    background-color: #00a300; 
}


hr {
    border-top: 0.5px solid rgb(122, 122, 122);
}

.kosong {
    padding: 7%;
}
img {
    width: 90%;
    text-align: right;
    float: right;

}

.flex-item-left a:hover {
    color: #3adf00;
  }
  .flex-item-left a:link {
    color: #3adf00;
  }
 