@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');

body {
    font-family: Epilogue, sans-serif, monospace;
    color: white;
    background: rgb(112,0,255);
    background: linear-gradient(315deg, rgba(112,0,255,1) 0%, rgba(0,0,0,1) 62%);
    padding: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
}

.flex-container {
    display: flex;
    flex-direction: column;


}


.flex-item-bottom {
    background-color: #000000;
    border-radius: 45px;
    flex: 70%;
    font-size: 20px;

    font-weight: 500;
    text-align: center;
    padding: 30px;

    
}
.flex-item-top {
    flex: 30%;
    height: 30%;
    text-align: center;


}
img {
    height: 500px;
}

.button {
    background-color: #3adf00; 
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
    width: 30%;
}

.button:hover {
    background-color:rgba(112,0,255,1); 
}

.kosong {
    padding: 3%;
}

