@import url('https://fonts.googleapis.com/css?family=Epilogue');


body {
    
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
    color:whitesmoke;
    font-size: 90%;
    text-align: justify;
    background-color: black;


}

.isihome {
   
    width: 1100px;
    
    
    padding-top: 0px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;


}



.flexnav {
    flex-direction: row;
    height: 900px;
    
    position: fixed;
    width: 1445px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    
    
    
    
    display: flex;
    
    
    
}


.flexnav a:hover {
    color: #fafafa;
  }
  .flexnav a:link {
    color: #fafafa;
  }
  .flexnav a:visited {
    color: #fafafa;
  }
  .flexnav a:active {
    color: #fafafa;
  }



.navkiri {
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
    height: 100%;
    text-align: center;
    
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    
}

.navkanan {
    
    
    float: right;
    
    font-size: 150%;
    
    text-align: center;

    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

.home {
    background-image: url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 60px;
    margin: auto;

    
}

.about {
    padding: 150px;
    padding-top: 10px;
    padding-bottom: 200px;
    text-align: justify;
    
    vertical-align: middle;
    
    
}
.flex-container {

    display: flex;
    flex-direction: row;
}


.edu {
    
  padding: 150px;
  padding-top: 10px;
  padding-bottom: 200px;
  vertical-align: middle;
}

.exp {
    padding: 410px;
    background-color: black;
}

.contact {
    
    padding:100px;
    background-color: #fafafa;
    padding-bottom: 550px;
    padding-top: 90px;
   

    pointer-events: auto !important;  
    cursor: pointer !important;
    font-size: 20px;
    display: block;
    text-align: right;
    color:#101010;
}




.contactnya {
    font-size: 20px;
    
}

th {
    padding-right: 70px;   
    padding-bottom: 20px;
    text-align: left;
}

.contact a:hover {
    color: #101010;
  }
  .contact a:link {
    color: #101010;
  }
  .contact a:visited {
    color: #101010;
  }
  .contact a:active {
    color: #101010;
  }

  .jadwal {

    background-image: url('/static/img/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
   
    text-align: center;
    font-size: 200px;
  }
 