@import url('https://fonts.googleapis.com/css?family=Epilogue');


.flex-container-accor {
  padding-top: 250px;
  display: flex;
  width: 60%;
  height: 100%;
  display: flex;
  color: #3adf00;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto
}
#accordion {
  margin:20px;
  height:180px;
  
}



body {
    
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
    color:whitesmoke;
    font-size: 90%;
    text-align: justify;
    background-color: black;


}

.flex-container {
  z-index:1;
    display: block;
    position: fixed,relative;
    
    
    padding-left: 45px;
    padding-right: 30px;
    color:whitesmoke;

    font-size: 50px;
}

a:hover {
    color: #3adf00;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
a:link {
    color: #3adf00;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
a:visited {
    color: #3adf00;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
a:active {
    color: #3adf00;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

.images {
    text-align: center;
    padding-top: 100px;
    font-size: 100px;
}

.linku {
    color: #3adf00;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}
@keyframes example {
    0%   {color:#7000ff; left:0px; top:0px;}
    25%  {color:#FF005C; left:0px; top:0px;}
    50%  {color:#00FFC2; left:0px; top:0px;}
    75%  {color:#FAFF00; left:0px; top:0px;}
    100% {color:#FF3D00; left:0px; top:0px;}
}


.container {
    text-align: center;
    position: relative;
    
  }

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

.container:hover .overlay {
  opacity: 1;
}


.tbl-accordion{
  margin: 0 auto;
  width: 900px;
  border: 1px solid #d9d9d9;

}

  .tbl-accordion-nested{
    width: 100%;

  }

.tbl-accordion-section{
      background:#333;
      color: #fff;
      cursor: pointer;
    }
   







.container-accordion {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.item {
  display: block;
  width: inherit;
  height: 40px;
  line-height: 40px;
  background: #555;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
}

.item-data {
  display: none; 
  width: inherit;
  height: auto;
  border: 1px solid #ccc;
}

.active {
  background: #eee;
  color: #000;
}
.item-data div{
  margin: 30px;
}