{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

   <!-- Jquery pertama -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   <!-- popper kedua -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

   <!-- sisanya bootstrap -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styleJadwal.css' %}">


    <title>Ayo Isi Jadwal!</title>
</head>
<body>

    
<div class="flex-container">

<div>
    <a href="{% url 'main:index' %}"><img src="{% static 'img/header.png' %}" style="position: fixed;height: 120px; z-index:1;display: block;position: fixed,relative;padding-left: 0px"></a>
        <div class="linku" style="text-align: right;padding-top:72px;padding-right:20px;font-size: 45%;">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">➙ Log Out</a>
                {% else %}
            <a href="{% url 'login' %}">➙ Log In</a>
                {% endif %}
        </div>    
    </div>

</div>




{% if user.is_authenticated %}
<form action="" method="POST" class="was-validated">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: blue;">
                        What's ur sched..
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="bg-white" aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bg-white">
                        <input name="hari" type="text" placeholder="Day" required><br>
                        <input name="tanggal" type="date" required><br>
                        <input name="waktu" type="time" required><br>
                        <input name="kegiatan" type="text" placeholder="Task" required><br>
                        <input name="lokasi" type="text" placeholder="Location" required><br>
                        <input name="kategori" type="text" placeholder="Category" required><br>
                        <div class="invalid-feedback">*Please fill out all the field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>


  <div class="container-fluid kosnten" style="background-color: black;">
          <div style="padding-top: 200px;">
        <a>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
            Add Jadwal!
        </button>
        </a>
    </div>

<div class="notcomp">
    <p>Click on sched when completed...</p>
    <p>✲  ✧  ✽</p>
    
    <a>
        {% for hasil in hasilan %}
        <form action="{% url 'story5:delete' hasil.id %}">
            <button class="tomblo" type="submit" name="delete" style="height: 30vh;width: 40vw;font-size: 25px;">
            <b>{{ hasil.kegiatan  }}</b><br>
                {{ hasil.hari }} ✷ {{ hasil.tanggal }} ✷ {{ hasil.waktu }}<br>
                {{ hasil.lokasi }}<br>
                {{ hasil.kategori }}<br>
            </button>
        </form>
        <p>✲  ✧  ✽</p>
        {% endfor %}
    </a>
</div>
<footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</footer>

</div>

{% else %}
<p class="linku "style="padding-top:200px;font-size:30px;">whoops u must login to view my sched :)</p>
{% endif %}




</div>


</body>
</html>