{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script type="text/javascript" src="{% static 'myScript.js' %}"></script>
    <script>
        $(document).ready(function () {
    $('#accordion').accordion({
        collapsible: true,
        active: false,
        height: 'fill',
        header: 'h3'
    }).sortable({
        items: '.s_panel'
    });

    $('#accordion').on('accordionactivate', function (event, ui) {
        if (ui.newPanel.length) {
            $('#accordion').sortable('disable');
            
        } else {
            $('#accordion').sortable('enable');
        }
    });

    $(document).ready(function () {
     $(".rowUp,.rowDown").click(function () {
        var $element = this;
        var row = $($element).parents(".s_panel:first");
        
        if($(this).is('.rowUp')){
            row.insertBefore(row.prev());

        } else {
            row.insertAfter(row.next());
        }
        row.slideUp();
        row.slideDown();

    });
});
});
</script>
    <title>Shanika Tysha A</title>
</head>
<body>

    
<div class="flex-container">

    <div>
        <a href="{% url 'main:index' %}"><img src="{% static 'img/header.png' %}" style="position: fixed;height: 120px;"></a>
        <div class="linku" style="text-align: right;padding-top:72px;padding-right:20px;font-size: 45%;">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">➙ Log Out</a>
                {% else %}
            <a href="{% url 'login' %}">➙ Log In</a>
                {% endif %}
        </div>
    </div>

</div>

{% if user.is_authenticated %}
<div class="flex-container-accor">
    <p>Brief description about my work :)</p>
</div>
<div id="accordion" style="width: 60%;margin: 0 auto;text-align: left;">
    <div class="s_panel">
         <h3><a href="#" id="row1Up" class="rowUp" style="text-align: right;"> Up</a> | 
            <a href="#" id="row1Down" class="rowDown" style="text-align: right;">Down</a> | Sticker Akbar</h3>
        <div>Jadi ceritanya gue gabut pas itu terus lagi pengen eksperimen design-design yang kaya illustration x graphic terus akhirnya
            gue bikin ini abis itu gue print dan jadiin sticker deh.
        </div>
    </div>
    
    <div class="s_panel">
         <h3><a href="#" id="row1Up" class="rowUp" style="text-align: right;"> Up</a> | 
            <a href="#" id="row1Down" class="rowDown" style="text-align: right;">Down</a> | Cover Art: KHALID</h3>
        <div>Inspired by Kel Lauren gue jadi kepo sama cover arts. Terus gue nyari album Khalid yang foto nya rada abstrak, dan gue
            tambahin elemen-elemen #cool definisi gue. Abis itu jadiin kay mockup poster deh JADI :)
        </div>
    </div>

    <div class="s_panel">
        <h3><a href="#" id="row1Up" class="rowUp" style="text-align: right;"> Up</a> | 
            <a href="#" id="row1Down" class="rowDown" style="text-align: right;">Down</a> | Vinyl Cover: SVBJECT MATTER</h3>
       <div>Ini juga masa-masa nya gue eksperimen sama textures dan CHROME EFFECT HAHAHA. Texture nya cuman yang plastik itu
           ibaratnya gue jadiin pelindung si vinyl cover nya. Abis itu gue sama temen-temen pernah beranjak bikin brand cuman ga berkelanjutan
           hoho tapi logo nya tetep gue simpen dan pas itu lagi nyobain chrome effect (efek 3D mengkilat) di ps 
       </div>
   </div>

   

<div class="s_panel">
    <h3><a href="#" id="row1Up" class="rowUp" style="text-align: right;"> Up</a> | 
        <a href="#" id="row1Down" class="rowDown" style="text-align: right;">Down</a> | Cover Art: Rendy Pandugo</h3>
   <div>Beranjak dari Khalid, bocah masih kepo ceritanya sama cover art. Akhirnya nyobain yang style nya agak beda deh. Pas banget
       album nya rendy ada yang mirip-mirip graffiti.
   </div>
</div>

<div class="s_panel">
    <h3><a href="#" id="row1Up" class="rowUp" style="text-align: right;"> Up</a> | 
        <a href="#" id="row1Down" class="rowDown" style="text-align: right;">Down</a> | Wisdom Carrier :)</h3>
   <div>Ini cuman iseng nyobain typography yang di skew cuman gue bikin dia melengkung gitu manual soalnya di afd gaada warp tool
       kaya di ps. Terus iseng deh masukin ke mockup tote bag!!!!
   </div>
</div>
</div>
</div>

<div class="container-fluid images">
    <p style="transform: rotate(90deg);">➙</p>
    

<div class="container">
<img src="{% static 'img/1.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✺</p>

<div class="container">
<img src="{% static 'img/2.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✽</p>

<div class="container">
<img src="{% static 'img/3.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✧</p>

<div class="container">
<img src="{% static 'img/4.png' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✷</p>

<div class="container">
<img src="{% static 'img/5.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✲</p>

<div class="container">
<img src="{% static 'img/6.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>
</div>

<div class="kosong" style="height: 50px;"></div>
<div class="linku">
<p>➙<a href="https://drive.google.com/file/d/1EhfXVN2m3lnZiy5_yiPpGxhtRUv4HcWe/view">More cool projects on my portfolio!</a></p>
</div>

{% else %}
<div class="kosong" style="height: 50px;"></div>
<div class="linku">
<p>U must login to see my work  tehe :)</p>
{% endif %}






</body>
</html>
