{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shanika Tysha A</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
<body>

<div class="container-fluid">
    <img class="img-responsive "img src="{% static 'img/header.png' %}" style="position: fixed;height: 120px;padding-left: 30px;">
</div>

<div class="container-fluid flexnav">
    <div class="wrapper">
 <div class="row row-fluid">
    <div>
        <div class="col-xs-6 navkiri">
            <a href="{% url 'main:portfolio' %}">Projects</a>
        </div>
    </div>
    <div class="col-xs-8">
        <p style="width: 1245px;"></p>
    </div>

    <div>
        <div class="col-xs-6 navkanan" >
            <a href="#contact">Contact</a>
        </div>
    </div>
</div>
</div>
</div>


<div class="home" id="home">
<div class="container">
<!-- <div class="mw-100" id="home">-->

    <!--<div class="isihome">-->
        <img class="mw-100" img src="{% static 'img/homepic.png' %}">
    
    </div>
</div>

</div>




    <div class="about container">
        <div class="row align-middle" style="text-align:left; padding-top:300px ;">
            <div class="col-sm-6">
    <img class="mw-100 img-responsive" img src="{% static 'img/aboutme.png' %}"  >
</div></div>
    <div class="row kosong" style="height: 70px;"></div>
        
    <div class="row align-middle">
    <div class="col-xs-8 col-sm-4  align-left clearfix">
      <img class="mw-100" img src="{% static 'img/fototysha.png' %}" style="border-right: 20px;" >
    </div>
    
    <div class="col-xs-6 col-sm-3 align-self-center">
    <p class="isi" style="line-height: 150%;font-size: 17px;width:500px;">
    My name is Shanika Tysha Anqita (1906305890), people usually call me Tysha.
    I'm a Computer Science Student (class of year 2019) in the Faculty of Computer Science, University of Indonesia.
    My hobbies include graphic design and watching netflix. I like designing stuff because it's therapeutic.
      Most days I design for myself, and on certain days I help a friend out by making them posters, 
      thumbnails, stickers, wallpapers, t-shirt designs, personal brand logos, album covers, etc.
    <br><br>
    </div></div>

</div>

<div class="jadwal">
    <p style="font-size:50px;padding-top: 100px;">Check my classes here!</p>
    <button href="#" class="btn btn-outline-light btn-lg" role="button" >Go to Schedule</button>
</div>





<div class="edu container" id="edu">
    <div class="row align-middle" style="text-align:left; padding-top:300px ;">
        <div class="col-xs-6">
<img class="mw-100 img-responsive" img src="{% static 'img/education.png' %}"  >
</div></div>
    <div class="row kosong" style="height: 50px;"></div>
    <div class="row">
        
          <table class="table-borderless" style="width:100%vmin">
              <tr style="font-size: 20px;">
                <th scope="col"><b>Year</b></th>
                <th scope="col"></th>
                <th scope="col"><b>Education</b></th> 
              </tr>
              <tr style="font-size: 20px;">
                <td scope="col">2019-present</td>
                <th scope="col"><img src="{% static 'img/panah.png' %}" style="padding-left: 30px;height:15px;"></th>
                <td scope="col">Fakultas Ilmu Komputer UI</td>
              </tr>
              <tr style="font-size: 20px;">
                <td scope="col">2016-2019</td>
                <th scope="col"><img src="{% static 'img/panah.png' %}" style="padding-left: 30px;height:15px;"></th>
                <td scope="col">SMA Labschool Kebayoran</td>
              </tr>
              <tr style="font-size: 20px;">
                <td scope="col">2013-2016</td>
                <th scope="col"><img src="{% static 'img/panah.png' %}" style="padding-left: 30px;height:15px;"></th>
                <td scope="col">SMP Labschool Kebayoran</td>
              </tr>
            </table>
        
        </div>
        
    </div>









<div class="container-fluid contact" id="contact" style="visibility: visible;">

  
        <a class="link" href="#home">About me</a>
        <br>
        <a href="#edu">Educational Background</a>
        <br>
        <a href="#exp">Experiences</a>
        <br>
        <a href="#projects">Projects</a>
        <br>


    
    <div class="row kosong" style="height: 50px;"></div>

    <div class="row contactnya" >
        <img class="mw-100 img-responsive" src="{% static 'img/sayhi.png' %}" style="float:left;padding-right: 400px;">
        <div class="row " style="height: 100px;"></div></div>

        <div class="row" style="padding-top:20px;">
            <div class="col-xs-8" style="padding-right: 150px;">
                <p>Email</p>
            </div>
            <div class="col-xs-3">
                <p><a href="mailto:tyshaa46@gmail.com">tyshaa46@gmail.com</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8" style="padding-right: 100px;">
                <p>Others</p>
            </div>
            <div class="col-xs-3">
                <img src="{% static 'img/ig.png' %}">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'img/tw.png' %}">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'img/in.png' %}">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'img/be.png' %}">
            </div>
        </div>


        <footer class="panah" style="text-align: center;font-size:50px;transform: rotate(-90deg);padding-top:50px ;">
            <p><a href="#home" style="transform: rotate(-90deg);">➙</a></p>
        
        </footer>

    </div>

</div>


</body>
</html>