{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script type="text/javascript" src="{% static 'myScript.js' %}"></script>
    <title>My Babies :)</title>
</head>
<body>

    
<div class="flex-container">

<div>
    <a href="{% url 'main:index' %}"><img src="{% static 'img/header.png' %}" style="position: fixed;height: 120px;"></a>
    </div>

</div>




<div class="container-fluid images">
    

<div class="container">
<img src="{% static 'img/1.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✺</p>

<div class="container">
<img src="{% static 'img/2.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✽</p>

<div class="container">
<img src="{% static 'img/3.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✧</p>

<div class="container">
<img src="{% static 'img/4.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✷</p>

<div class="container">
<img src="{% static 'img/5.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>

<p>✲</p>

<div class="container">
<img src="{% static 'img/6.jpg' %}" style="width: 800px;">
<div class="overlay">Deskripsi</div>
</div>
</div>

<div class="kosong" style="height: 50px;"></div>
<div class="linku">
<p>➙<a href="https://drive.google.com/file/d/1EhfXVN2m3lnZiy5_yiPpGxhtRUv4HcWe/view">More cool projects on my portfolio!</a></p>
</div>





</body>
</html>