@import url('https://fonts.googleapis.com/css?family=Epilogue');


body {
    color: white;
    background-color: black;
    font-family: Epilogue, sans-serif, monospace;
 
}

.flex-container {
    z-index:1;
    display: block;
    position: fixed,relative;
    padding-left: 45px;
    padding-right: 30px;
    color:whitesmoke;
    font-size: 50px;
}


.searchboxx {
   
   text-align: left;
   padding-left: 30%;
   padding-right: 30%;

   
}

.header-searchboxx {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3adf00;
    font-size: 40px;
    margin: 0 auto
}




#myform {
    size: 50;
}

.table {
    color: whitesmoke;
    white-space: pre-wrap;
    
}

td {
    padding: 15px;
    min-height: 150px;
}