@import url('https://fonts.googleapis.com/css?family=Epilogue');




body {
    
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
    color:whitesmoke;
    font-size: 90%;
    text-align: center;
    background-color: black;


}

.flex-container {
  z-index:1;
    display: block;
    position: fixed,relative;
    
    
    padding-left: 20%;
    padding-right: 20%;
    color:whitesmoke;

    font-size: 50px;
    text-align: center;
}

.isi {
    text-align: center;
    padding-top: 400px;
    font-size: 100px;
}

.textcuy{
    -webkit-text-fill-color: whitesmoke;
    /*background-color:white;*/
    width: 100%;
    display: inline-block;
    transition: 0.6 ease;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 400px;
    text-align: center;
}

.btn-primary{
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-size: 1em;
    border: 2px solid white;
    background: black;
    padding: 10px 10px;
    transition: 0.6s ease;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-secondary{
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-size: 1em;
    border: 2px solid white;
    background: black;
    padding: 10px 10px;
    transition: 0.6s ease;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-primary:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}
.btn-secondary:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-dialog{
    background-color: white;
}

.modal-header{
    background-color: white;
}
.modal-title{
    background-color: white;
}
.close{
    color: black;
}

input{
    border: solid 1px;
    background-color: white;
    margin-bottom: 10px;
}
.modal-body{
    background-color: white;
    border: 0px;
}
.modal-content{
    background-color: white;
    border: 0px;
}

.modal-footer{
    background-color: white;
}



.tomblo{
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    -webkit-text-fill-color: blue;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    margin-bottom: 20px;
}

.tomblo:hover{
    font-size: 20px;
    text-align: center;
    background-color: blue;
    -webkit-text-fill-color: whitesmoke;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    align-items: center;
    transform: scale(1.01);
    z-index: 2;
    transition: 0.3s ease-in;
    margin-bottom: 20px;
}

